.banner {
    height: 75 px;
    margin: 0px -10px 10px;
    background-color: rgb(28, 1, 122);
    border-radius: 2px;
}

.banner h2 {
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

.footer label{
    margin: auto;
    text-align: center;
    font-size: 10px;
}

.footer A{
    margin: auto;
    text-align: center;
    font-size: 10px;
    display: block;
}

.background {
    background-color: rgb(28, 28, 28);
    background-size: cover;
    color: #ccc;
    margin: -10px -10px -10px;
    padding: 0px 0px 0px;
    border-style: none;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.CenterButtons{
float: center;
width: 48%;
text-align: center;
margin: 0 auto;
display: block;
}

.scrollable-element {
  scrollbar-color: dark;
}